@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse-borde:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 6px solid transparent;
  border-radius: inherit;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0% {
    border-color: rgba(255, 255, 255,0.1);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
